html {
  scroll-behavior: smooth !important;
}

* {
  box-sizing: border-box !important;
}

body {
  background-color: #1f1f2b !important;
  font-family: "Cousine", monospace !important;
}

.headerTitle {
  transition: 0.3s;
  cursor: pointer;
}

.headerTitle:hover {
  color: rgb(255, 208, 0) !important;
}

.questionBox {
  cursor: pointer !important;
  background-color: #303041 !important;
  transition: 0.5s !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) !important;
}

.questionBox:hover {
  p {
    color: rgb(255, 208, 0) !important;
  }
  .question-title {
    color: rgb(255, 208, 0) !important;
  }
}

.questionSuccess {
  display: flex !important;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) !important;
  align-items: center;
  justify-content: center;
}

.goBackBtn {
  background-color: #303041 !important;
}

#code-area {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.monaco-editor {
  font-size: 20px;
  padding: 15px 0 !important;
}

.example {
  word-wrap: break-word !important; /* Ensure long text wraps within the container */
}

.showResult {
  word-wrap: break-word !important; /* Ensure long text wraps within the container */
  white-space: pre-wrap !important; /* Preserve line breaks in the text content */
}
